<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Jetski_chat </title>
  <link rel="icon" type="image/x-icon" href="/jetski-logo.png">
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="/chats.css">
  <script src="/markdown.js" defer></script>
  <script src="/messages.js" defer></script>
  <script src="/sidebar.js" defer></script>
  <script src="/welcome_panel.js" defer></script>
</head>
<body>
  <%= yield %>
</body>
</html>
